{
  "extends": ["eslint:recommended", "google"],
  "env": {
    "browser": true,
    "es6": true,
  },
  "rules": {
    "require-jsdoc": 0,
    "no-console": 1
  },
  "globals": {
    "PaymentRequest": true
  }
}
